.header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: var(--blue);
	min-height: 110px;
	width: 1600px;
}

.headerActive {
	background-color: var(--black);
}

.headerWrapper {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

.wrapperUl {
	display: flex;
	align-items: center;
	gap: 45px;
}

.link {
	padding: 0;
	margin: 0;
	position: relative;
	color: var(--white);
	text-decoration: none;
	transition: 0.5s;
	cursor: pointer;
	border: none;
	background-color: var(--blue);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
}

.linkActive {
	color: var(--yellow);
}

.link:hover {
	opacity: 0.7;
}

.wrapperLink {
	display: flex;
	gap: 5px;
	align-items: center;
}

.wrapperHelpers {
	display: flex;
	gap: 40px;
	align-items: center;
}

.label {
	position: relative;
	display: flex;
	gap: 15px;
	align-items: center;
}

.input {
	height: 25px;
	width: 150px;
	border: none;
	border-radius: 10px;
	padding: 5px;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}

.search {
	position: absolute;
	right: 3px;
}

.arrow {}

.arrowRotate path {
	fill: var(--yellow);
}

.arrowRotate {
  transform: rotate(180deg);
}

.wrapperLineMenu {
	margin: 0;
	padding: 0;
	display: none;
	background-color: var(--blue);
	border: none;
	cursor: pointer;
	transition: 0.5s;
}

.wrapperLineMenu:hover {
	opacity: 0.7;
}

.wrapperLineMenuActive {
	background-color: var(--black);
}

.wrapperLine {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.line {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 37px;
	height: 2px;
	background-color: var(--white);
}

.lineActive {
	background-color: var(--yellow);
}

.menu {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	color: var(--white);
}

.menuActive {
	color: var(--yellow);
}

.lineActiveTop {
	transform: rotate(45deg) translateY(6px);
}

.lineActiveCentre {
	display: none;
}

.lineActiveBottom {
	transform: rotate(-45deg) translateY(-6px);
}

.menuActive {
	color: var(--yellow);
}

.lineActiveTop {
	transform: rotate(45deg) translateY(6px);
}

.lineActiveCentre {
	display: none;
}

.lineActiveBottom {
	transform: rotate(-45deg) translateY(-6px);
}

.active {
	color: var(--yellow);
}

@media screen and (max-width: 1600px) {
	.header {
		width: 100%;
		justify-content: space-around;
	}
	.wrapperUl {
		gap: 21px;
	}
}

@media screen and (max-width: 1310px) {
	.wrapperUl {
		display: none;
	}
}

@media screen and (max-width: 1310px) {
	.wrapperLineMenu {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

@media screen and (max-width: 680px) {
	.label {
		display: none;
	}
	.menu {
		display: none;
	}
	.headerWrapper {
		padding: 10px;
	}
	.wrapperHelpers {
		gap: 20px;
	}
	.logo {
		width: 120px;
	}
}

@media screen and (max-width: 767px) {
	.input {
		display: none;
	}

	.menu {
		display: none;
	}
	.search {
		display: none;
	}
}